 {% load static %}
 
 <!-- Header Section Begin -->
 <header class="header-section">
    <div class="container-fluid">
        <div class="inner-header">
            <div class="logo">
                <a href="{% url 'store:Home' %}"><img src="{% static 'kedi.png' %}" alt=""></a>
            </div>
            <div class="header-right">
                <img src="{% static 'img/icons/search.png' %}" alt="" class="search-trigger">
                <a href="{% url 'accounts:dashboard' %}" style="margin-right: 20px;">
                    <img src="{% static 'img/icons/man.png' %}" alt="">
                </a>
                <a href="{% url 'cart:view_cart' %}">
                    <img src="{% static 'img/icons/bag.png' %}" alt="">
                    <span>{% if cart_count %} {{cart_count}} {% else %} 0 {% endif %}</span>
                </a>
            </div>
            {% if user.is_authenticated %}
            <div class="user-access">
                <a href="{% url 'accounts:logout' %}" class="a-btn">Logout</a>
            </div>
            {% else %}
            <div class="user-access">
                <a href="{% url 'accounts:signup' %}" class="a-btn">Register</a>
                <a href="{% url 'accounts:login' %}" class="in a-btn">Sign in</a>
            </div>
            {% endif %}
           
            <nav class="main-menu mobile-menu">
                <ul>
                    <li><a class="{% if request.path == '/' %}active{% endif %}" href="{% url 'store:Home' %}">Home</a></li>
                    <li><a class="{% if request.path == '/pet-tag/' %}active{% endif %}" href="{% url 'pet:pet_tag' %}">Smart Pet Tag</a></li>
                    <li><a class="{% if request.path == '/shop/' %}active{% endif %}" href="{% url 'store:Shop' %}">Shop</a></li>
                    <li><a href="" class="{% if 'category' in request.path %}active{% endif %}">By Category</a>
                        <ul class="sub-menu">
                            {% for category in categories %}
                            <li><a href="{% url 'store:Category_Details' category.slug %}">{{category.title|title}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="{% url 'store:about' %}" class="{% if request.path == '/about/' %}active{% endif %}">About</a></li>
                    <li><a href="{% url 'store:Contact' %}" class="{% if request.path == '/contact/' %}active{% endif %}">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>


<!-- Header Info Begin -->
<!-- <div class="header-info">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="header-item">
                    <img src="{% static 'img/icons/delivery.png' %}" alt="">
                    <p>Free shipping on orders</p>
                </div>
            </div>
            <div class="col-md-4 text-left text-lg-center">
                <div class="header-item">
                    <img src="{% static 'img/icons/voucher.png' %}" alt="">
                    <p>20% Student Discount</p>
                </div>
            </div>
            <div class="col-md-4 text-left text-xl-right">
                <div class="header-item">
                <img src="{% static 'img/icons/sales.png' %}" alt="">
                <p>30% off on dresses. Use code: 30OFF</p>
            </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Header Info End -->
<!-- Header End -->